@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.container {
    display: flex;
}


/* Menu vertical */

.lateral-menu {
    background: #62cabe;
    width: 400px;
    height: 100vh;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border-radius: 0;
}

.lateral-menu ul li {
    margin: 35px 0;
}

.content {
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.content hr {
    width: 3rem;
    margin-bottom: 2%;
    text-align: center;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-top-style: inset;
    border-right-style: inset;
    border-bottom-style: inset;
    border-left-style: inset;
    border-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.imagem {
    position: relative;
}

.texto {
    position: absolute;
    font-size: 32px;
    left: 250px;
    color: black;
    text-align: center;
    top: 390px;
}

.texto h1 {
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F
}


/* Seção */

section {
    padding: 20px;
    float: left;
}

#projeto {
    background-color: #b8eee8;
}

#projeto_1 {
    background-color: #9ae7de;
}

#projeto_2 {
    background-color: #b8eee8;
}

#projeto_3 {
    background-color: #9ae7de;
}

#projeto_3 .icone {
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 9rem;
    height: 9rem;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#projeto_3 .icone img {
    margin: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

.p_top {
    text-align: center;
    padding: 0 8%;
    padding-top: 0px;
    padding-right: 8%;
    padding-bottom: 0px;
    padding-left: 8%;
}

h3 {
    text-align: center;
    font-size: 1.1rem;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.definicao h1 {
    text-align: center;
    margin: 80px;
    font-size: 40px;
    align-items: center;
}

.definicao h2 {
    text-align: center;
    margin: 10px;
    font-size: 30px;
    align-items: center;
}

.definicao p {
    text-align: justify;
    margin: 50px;
    font-size: 30px;
}

.ods {
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    padding: 10 20 10 20;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-decoration: initial;
    text-decoration-line: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-size: 20px;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
    width: 50%;
}

.coluna h2 {
    margin: 10px;
    font-size: 30px;
}

.coluna h3 {
    margin: 10px;
    font-size: 30px;
}

.justificado {
    text-align: justify;
}

.justificado ul {
    text-align: justify;
    font-size: 5px;
    margin: 35px;
    margin-top: 20px;
}

.card p {
    vertical-align: middle;
    font-size: 1.4rem;
}

.card ul li {
    text-align: justify;
    font-size: 23px;
    margin: 35px;
    margin-top: 20px;
}